<div class="left">
	<aside>
		<img id="speakerimage" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/orange-fiesta-icons-media/002339-orange-fiesta-icon-media-loud-speaker.png" />
	</aside>
	<aside>
		<h3>Welcome to <%= @crm_app_name %>!</h3>
	</aside>
</div>
<div class="right">
	<p>Main menu</p>
	<ul>
		<li><a href="/contacts">View all contacts</a></li>		<!-- Links to contacts path -->
		<li><a href="/contacts/new">Add new contact</a></li>
		<!-- please complete me with links to other actions -->
	</ul>
</div>