<div class="top">
	<h1>Welcome to the Bitmaker CRM!</h1>
	<p>
		The Bitmaker CRM let's you add, view, and modify client information.</br>
		To get started, select one of the options below!
	</p>
</div>