<div class="left">
	<aside>
		<div>
			<h3>Welcome to <%= @crm_app_name %>!</h3>
			<p>This system is designed to provide easy customer management for all Bitmaker clients.</p>
			<p>When you are ready, please make your selection!</p>
		</div>
		<img id="speakerimage" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/orange-fiesta-icons-media/002339-orange-fiesta-icon-media-loud-speaker.png" />
	</aside>
</div>
<div class="right">
	<h3>Main Menu</h3>
	<a href="/contacts">
		<img id="viewsymb" src="http://cdn.flaticon.com/png/256/37090.png" />
	</a>
	<a href="/contacts/new">
		<img id="addsymb" src="http://reichertbrothers.com/images/plus.png" />
	</a>
	<a href="">
		<img id="modsymb" src="http://cdn.flaticon.com/png/256/44475.png" />
	</a>
	<a href="">
		<img id="searchsymb" src="http://sweetclipart.com/multisite/sweetclipart/files/magnifying_glass_black.png" />
	</a>
</div>

