<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/style.css"/>
	<title>Customer Contacts</title>
</head>
<body>
	<div class="navbar">
		<nav>
			<a href="/">
				<img id="menuimage" src="http://media.tumblr.com/b4fa52b407b1a65464d66162f1d4187f/tumblr_inline_mr9xcpNWPZ1qz4rgp.png"/>
			</a>
		</nav>
		<header class="navbar">
			<h3>Bitmaker Labs</h3>
			<h2>Communications</h2>
		</header>
	</div>
	<%= yield %>
	<footer>Page developed by Nicholas Haley</footer>
</body>
</html>
