<!DOCTYPE html>
<html>
	<head>
		<title>Customer Contacts</title>
	</head>
	<body>
		<nav>
			<a href="/">
				<img src="http://png-2.findicons.com/files/icons/1261/sticker_system/128/home.png"/>
			</a>
		</nav>
		<%= yield %>
		<footer>Page developed by Nicholas Haley</footer>
	</body>
</html>