<div class="left">
</div>

<div class="right">
	<h1>Create new Contact</h1>

	<form action="/contacts" method="post">			<!-- Post method to add data -->
		<input type="text" name="first_name">		<!-- Text inputs -->
		<input type="text" name="last_name">
		<input type="text" name="email">
		<input type="text" name="note">
		<input type="submit" name="Submit">			<!-- Submit button -->
	</form>
</div>