<h1>Create new Contact</h1>

<form action="/contacts" method="post">			<!-- Post method -->
	<input type="text" name="first_name">		<!-- Text inputs -->
	<input type="text" name="last_name">
	<input type="text" name="email">
	<input type="text" name="note">
	<input type="submit" name="Submit">			<!-- Submit button -->
</form>