<div class="left">
</div>

<div class="right">
	<h1>Search For Contact</h1>

	<form action="/contacts" method="post">		


		<input type="submit" name="Submit">			<!-- Submit button -->
	</form>
</div>