<div class="left">
</div>

<div class="right">
	<h1>Search For Contact</h1>

	<form action="/contacts/:id" method="get">		
		<label for="id">ID Number:</label>
		<input id="id" type="text" name="id" placeholder="eg. 56">

		<input type="submit" name="Submit">			
	</form>
</div>