body {
	height: 600px;
	margin: 0px;
	font-family: 'Bevan'
}

#menuimage {
	width: 260px;
	height: 260px;
	margin: 0px 10px 10px 0px;
	vertical-align: middle;
	z-index: 0;
}

#viewsymb {
	width: 170px;
	height: 170px;
	margin: 45px 10px 10px 10px;
	vertical-align: middle;
}

#addsymb {
	width: 110px;
	height: 110px;
	margin: 35px 30px 20px 30px;
	vertical-align: middle;
}

#searchsymb {
	width: 110px;
	height: 110px;
	margin: 40px 60px 20px 40px;
	vertical-align: middle;
	padding-right: 20px;
}

.icon {
	display: inline-block;
}

nav {
	text-align: center;
	margin: 0px;
}

footer {
	text-align: center;
	font-size: 8px;
	margin-top: 135px;
}

.top {
	margin: 0px;
	background-color: #14acde;
	text-align: center;
}

.top > h1 {
	font-size: 40px;
	padding: 100px 0px 65px 0px;
	margin: 0px;
}

.top > p {
	padding-bottom: 105px;
	margin: 0px;
}

span {
	margin: 7px;
}

.top > div {
	padding-bottom: 105px;
}

.top > div > p {
	margin: 0px;
}

.color {
	color: #ab1e24;
}





