body {
	margin: 0px;
	height: 800px;
}

.navbar {
	background-color: #31698A;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 1px 0px;
}

header {
	display: inline-block;
	vertical-align: top;
}

header > h2 {
	color: orange;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 0px;
	display: inline-block;
	font-size: 32px;
}

header > h3 {
	color: orange;
	margin: 20px 0px -8px 5px;
	padding: 0px;
	font-size: 22px;
}

#menuimage {
	margin: 8px 0px 0px 8px;
	height: 60px;
	width: 60px;
	border-radius: 3px;
}

#speakerimage {
	height: 200px;
	width: 200px;
}

nav {
	display: inline-block;
}

footer {
	clear: both;
	font-size: 12px;
	text-align: center;
}

.left {
	background-color: #f6f8ff;
	display: inline-block;
	width: 30%;
	float: left;
	height: 100%;
}

.right {
	text-align: center;
	display: inline-block;
	width: 70%;
	float: right;
	vertical-align: top;
	height: 100%;
}

aside > div > h3 {
	margin: 100px 30px 10px 70px;
}

aside > div > p {
	margin: 20px 30px 10px 100px;
}

#viewsymb {
	width: 100px;
	height: 100px;
	margin: 50px;
	vertical-align: middle;
}

#addsymb {
	width: 60px;
	height: 60px;
	margin: 50px;
	vertical-align: middle;
}

#modsymb {
	width: 70px;
	height: 70px;
	margin: 50px;
	vertical-align: middle;
}

#searchsymb {
	width: 60px;
	height: 60px;
	margin: 50px;
	vertical-align: middle;
}

